body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}
h1 {
    font-size: 2em;
    margin-bottom: 20px;
}
.categories, .menu-items {
    display: grid;
    gap: 15px;
    margin-bottom: 20px;
}
.categories {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.menu-items {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.category-card, .menu-card {
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}
.category-card {
    background-color: #f3f3f3;
}
.menu-card {
    background-color: #0e0e0e;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
}

p{
    color: #fff;
}